* {
    font-family: 'montserrat';
    margin:0;
}
header, section, footer {
    justify-content: center;
    display: flex;
    background-color: rgb(177, 177, 177);
    /* borda de visualiação */
    /* border: 1px solid rgb(85, 109, 109); */
}
header {
    background-color: rgb(204, 204, 204);
    height: 120px;
}
section {
    background-color: rgb(218, 218, 218);
}
footer {
    background-color: rgb(245, 245, 245);
    height: 200px;
}
.container {
    display: flex;
    background-color: #ddd;
    width: 1000px;
    /* borda de visualiação */
    /* border: 1px solid rgb(85, 109, 109); */
}

section .container {
    justify-content: inherit;
}


.form-container {
    margin: 20px;
    background-color:#dcdcdc;
    width: 700px;
    height: 900px;
    border-radius: 5px;
    border: 1px solid rgb(85, 109, 109);

    font-size: 20px;
}

.form-title {
    width: 680px;
    border-bottom: 1px solid rgb(85, 109, 109);
    font-size: 25px;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 50px;

    background-color: rgb(129, 129, 129);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    color: rgb(255, 255, 255);
}

.form-internalcontainer {
    padding: 20px 20px 00px 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-end;
    margin-right: 120px;
}
.form-internalcontainer input,.form-internalcontainer select {
    font-size: 18px;
    margin-bottom: 20px;
}

#endereço {
    width: 400px;
}

#ddd {
  width: 28px;  
  margin-right: 5px;
}

.user {
    margin-left: 40px;
}

#cidade {
    margin-bottom: 100px;
}

#user, #password {
    width: 220px;
    margin-bottom: 40px;
}

textarea {
    width: 400px;
    height: 150px;
    margin-bottom: 40px;

}


#submit {
    width: 200px;
    height: 50px;
}
